.burger-wrap {
  display: none;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 15px;
  @media (max-width: $screen-xs-max) {
    display: flex;
  }

  .login-btn-mobile {
    cursor: pointer;
    background-color: $login-btn-mobile-bg;
    border: 1px solid $login-btn-mobile-border;
    border-radius: 5px;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    padding: 6px 11px;
    text-transform: lowercase;
  }
}


.burger-menu-opener {
  z-index: 999;
  transition: opacity 0.3s ease, visibility 0.3s ease;

  .close-btn {
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 11;

    .close-svg {
      width: 24px;
      height: 24px;
    }
  }
}

.burger-overlay {
  position: absolute;
  top: 70px;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background: $burger-overlay-bg;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  z-index: 10;
  border-bottom: 1px solid $burger-overlay-border;

  &.open {
    opacity: 1;
    visibility: visible;
  }

}

.burger-menu {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  transition: transform 0.3s ease-in-out;

  .menu {
    margin-top: 15px;

    .burger-item {
      margin-bottom: 35px;

      .burger-item-link {
        font-weight: 600;
        font-size: 24px;
        line-height: 100%;
        letter-spacing: 0;
        color: $burger-item-link-color;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;

        .burger-item-link-svg {
          width: 20px;
          height: 20px;
        }
      }
    }
  }
}

.burger-nav {
  margin-top: 30px;

  .nav-item {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 10px;

    .nav-list {
      background-color: $nav-list-bg;
      padding: 10px 12px;
      border-radius: 9px;

      .nav-item-link {
        font-weight: 500;
        font-size: 13px;
        line-height: 100%;
        letter-spacing: 0;
        color: $nav-item-link-color;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;

        .nav-item-link-svg {
          width: 16px;
          height: 16px;
        }
      }
    }
  }
}

.burger-footer {
  margin-top: 55px;
  font-size: 14px;

  .burger-footer-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .burger-phone {
      font-weight: 700;
      font-size: 24px;
      line-height: 100%;
      letter-spacing: 0;
      color: $burger-phone-color;
    }

    .burger-lang-btn {
      font-weight: 400;
      font-size: 16px;
      line-height: 100%;
      letter-spacing: -1%;
      margin: 10px 0;
      background: $burger-lang-btn-bg;
      color: $burger-lang-btn-color;
      border: 1px solid $burger-lang-btn-border;
      border-radius: 4px;
      padding: 5px;
      cursor: pointer;
    }
  }

  .burger-time {
    font-weight: 600;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0;
    color: $burger-time-color;
    opacity: 50%;
    margin-bottom: 22px;
  }

  .hr {
    border-top: 1px solid $burger-hr-border;
    display: block;
    margin: 30px 0;
  }

  .burger-whatsapp {
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0;
    color: $burger-whatsapp-color;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 7px;
  }

  .burger-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 27px;
    margin-bottom: 30px;

    .icons {
      display: flex;
      justify-content: flex-start;
      gap: 5px;
      flex-wrap: wrap;
    }

    .burger-social-icons {
      display: flex;
      justify-content: flex-start;
      gap: 6px;
      flex-wrap: wrap;

      .burger-social-svg {
        width: 28px;
        height: 28px;
      }
    }
  }
}